/* Log In */
.titul_cabez{
    text-align: center;

    }

.encabzado{

color: white;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;


}

.message_creamant{
    text-align: center;
    background: #fff;
    padding: 15px 0px;
    border: 1px solid #d02020;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

.usses_creamant{
    text-align: center;
    background: #fff;
    padding: 15px 0px;
    border: 1px solid #29d020;
    border-radius: 5px;
    margin-bottom: 10px;
    color: green;
}

.usr_rutdiv{
    width: 150px;
}

.usr_div{
    width: 250px;
}

.usr_empassdiv{
    width: 200px;
}

.usr_maillen{
    width: 300px;
}

@media (max-width: 600px) {
    .usr_div{
        width: 90%;
    }

    .usr_rutdiv{
        width: 80%;
    }

    .usr_empassdiv{
        width: 100%;
    }

    .usr_maillen{
        width: 100%;
    }
}

.contenedor_select{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_selct{
    display: flex;
    flex-direction: column;
}
.atras_index{
    font-size: 2.0rem;
    color: #000000;
    cursor: pointer;
    
    text-decoration: none;

}

.boton_donde{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 30px;
    text-align: center
}

.estil_boton{
    background: rgba(35, 200, 241, 0.95);
    color: white;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.estil_boton::after, .estil_boton::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: rgba(35, 200, 241, 0.95);
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;

}

.estil_boton:hover{
    transform: translate(-12px, -12px);
}

.estil_boton:hover::after{
    transform: translate(6px, 6px);
}

#general_sessioncliente{
    position: absolute;
    right: 3%;
    font-size: 2.5rem;
    color: #fafafa;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
}

.estil_boton:hover::before{
    transform: translate(12px, 12px);
}

.backg_image{
    background-image: url(img/electr_log.jpg);
    background-position: center center;
}

.backg_image_select{
    background-image: url(img/select_type.jpg);
    background-position: center center;
}

.backg_image_client{
    background-image: url(img/client_select.jpg);
    background-position: center center;
}

.backg_body{
    background: rgba(54, 195, 238, 0.911);
    background: linear-gradient(to right, rgba(54, 195, 238, 0.911), rgba(229, 249, 255, 0.911));
}
.btn_backlog{
    color: black;
    text-decoration: none;
}
.btn_ingreso{
    color: white;
    text-decoration: none;
}

.mant_cont{
    width: 40%;
}

/* Menu General */
.menu_bacgr{
    min-height: 100vh;
    background: url(img/backgr_img.png) no-repeat;
    background-size: cover;
    background-position: center;

}

.menu_bacgrcliente{
    min-height: 100vh;
    background: url(img/chang.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.nav_superior{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .6rem 10%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}



.nav_superior::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    z-index: -1;
}

/* Tabla Mantencion*/
.Manten_table{
    width: 100%;

    border-collapse: collapse;
    background: #fafafa;
}
.tabmante_main_phone{
    display: none;
}
.tabmante_main{
    background: rgba(105, 203, 255, 0.686);
    background: linear-gradient(to bottom, rgba(83, 195, 255, 0.866), rgba(204, 243, 255, 0.911));

    color: #ffffff;
    
    align-items: center;
}
.tabmante_main, .tabmante_head, 
.tabmante_body,.tabmante_capti{
    padding: 1rem;
}

.tabmante_capti{
    text-align: center;
    background: rgba(0, 0, 0, .7);
    font-size: 20;
    text-transform: uppercase;
    color: #fafafa;

}

.tabmante_head{
    background: #2a2a2a;
    color: #fafafa;
}
.tabmante_fila:nth-of-type(2n){
    background: #f2f2f2;
}
.plus_manten{
    
    font-size: 2.0rem;
    color: #ffffff;
    cursor: pointer;
   
}
.close_manten{
    font-size: 2.0rem;
    color: #ffffff;
    cursor: pointer;
}
.plusex_mant{
    justify-content: space-between;
    
}





.user_home{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar_general a {
    font-size: 1.15rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check_general{
    display: none;
}

#tip_exmant{
    display: none;
}

#estd_exmant{
    display: none;
}


.menugen_icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fafafa;
    cursor: pointer;
    display: none;
}

.cerr_sess{
    display: none;
}

#general_session {
    position: absolute;
    right: 3%;
    font-size: 2.5rem;
    color: #fafafa;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
}

.conent_Clicre{
    width: 35%;
}
.conent_Maquicre{
    width: 50%;
}
.conent_Mantchang{
    width: 50%;
}


.cretcli_cont{
    position: fixed;
     bottom: 0;
     width: 50%;
     
   
 }
/* BreakPoints Menu Superior*/


@media (max-width: 995px) {
    .cretcli_cont{
        width: 70%;       
        
    }

    .nav_superior{
        padding: 1.3rem 5%;

    }


    #general_sessioncliente{
        position: absolute;
        right: 3%;
        font-size: 2.5rem;
        color: #fafafa;
        cursor: pointer;
        display: inline-flex;
        text-decoration: none;
    }

    #general_session {
        position: absolute;
        right: 1.5%;
        font-size: 2.5rem;
        color: #fafafa;
        cursor: pointer;
        display: inline-flex;
    }

    .navbar_general a {
    font-size: 1.10rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.0rem;
    margin-right: 2rem;
    }
}



@media (max-width: 930px) {
    .nav_superior{
        padding: .7rem 5%;

    }

    .mant_cont{
        width: 70%;
    }

    .cretcli_cont{
        width: 80%;       
        
    }
    .tabmante_main_phone{
        display: table-cell;
        font-size: 2.0rem;
        
        cursor: pointer;
        padding: 1rem;
        background: rgba(105, 203, 255, 0.686);
        background: linear-gradient(to right, rgba(83, 195, 255, 0.866), rgba(204, 243, 255, 0.911));
    color: #ffffff;
    
    align-items: center;
       
    }

    .tabmante_main{
        display: none;
    }

    .tabmante_invis_phone{
       
    
        opacity: 0.5;
        padding: 15px;
    }
    

    .tabmante_invis{
        display: none;
    }


    .conent_Clicre{
        width: 90%;
    }
    .conent_Maquicre{
        width: 90%;
    }
    .conent_Mantchang{
        width: 90%;
    }

    .menugen_icons{
        display: inline-flex;

    }

    #general_sessioncliente{
        position: absolute;
        right: 3%;
        font-size: 2.5rem;
        color: #fafafa;
        cursor: pointer;
        display: inline-flex;
        text-decoration: none;
    }

    #general_session{
        display: none;
    }

    #check_general:checked~.menugen_icons #general_icon{
        display: none;
    }

    .menugen_icons #general_close{
        display: none;
    }

    #check_general:checked~.menugen_icons #general_close{
        display: block;
    }

    .navbar_general{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .2);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .2);
        overflow: hidden;
        transition: .3s ease;
    }

    #check_general:checked~.navbar_general {
        height: 17.7rem;
    }
    
    .cerr_sess{
        display: block;
    }

    .navbar_general a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check_general:checked~.navbar_general a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.10s * var(--i));
    }
}

/* Validacion de Vacios*/
.invalid_field{
    border: solid 1px red;
    box-shadow: 0 0 10px red;
}
.falla_field{
    color: red;
    display: block;
}


/* Listados Cliente*/
.client_table{
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
}
.tabcli_capti, .tabcli_head,
.tabcli_body{
    padding: 1rem;
}
.tabcli_capti{
    text-align: center;
    background: rgba(0, 0, 0, .7);
    font-size: 20;
    text-transform: uppercase;
    color: #fafafa;

}
.tabcli_head{
    background: #2a2a2a;
    color: #fafafa;
}
.tabcli_fila:nth-of-type(2n){
    background: #f2f2f2;
}

/* Listados Maquina*/
.maquina_table{
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
}
.tabmaqui_capti, .tabmaqui_head,
.tabmaqui_body{
    padding: 1rem;
}
.tabmaqui_capti{
    text-align: center;
    background: rgba(0, 0, 0, .7);
    font-size: 20;
    text-transform: uppercase;
    color: #fafafa;
    backdrop-filter: blur(50px);
}
.tabmaqui_head{
    background: #2a2a2a;
    color: #fafafa;
}
.tabmaqui_fila:nth-of-type(2n){
    background: #f2f2f2;
}

.uppermant_table{
    margin-top: 8%;
}

@media (max-width: 880px) {
    /* Tabla Mantencion*/
    .uppermant_table{
        margin-top: 20%;
    }
    .Manten_table{
        width: 100%;

        border-collapse: collapse;
        background: #fafafa;
    }

    .tabmante_head{
        display: none;
    }
    .tabmante_body{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 17ch auto;
        padding: 0.5rem 1rem;

    }
    .tabmante_body:first-child{
        padding-top: 1.5em;

    }
    .tabmante_body:last-child{
        padding-bottom: 1.5rem;

    }

    .tabmante_body::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;

    }

    /* Listados Cliente*/
    .client_table{
        width: 100%;
        
        border-collapse: collapse;
        background: #fafafa;
    }

    .tabcli_head{
        display: none;
    }
    .tabcli_body{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 17ch auto;
        padding: 0.5rem 1rem;

    }
    .tabcli_body:first-child{
        padding-top: 1.5em;

    }
    .tabcli_body:last-child{
        padding-bottom: 1.5rem;

    }

    .tabcli_body::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;

    }

    /* Listados Maquina*/
    .maquina_table{
        width: 100%;
        border-collapse: collapse;
        background: #fafafa;
    }

    .tabmaqui_head{
        display: none;
    }
    .tabmaqui_body{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 17ch auto;
        padding: 0.5rem 1rem;

    }
    .tabmaqui_body:first-child{
        padding-top: 1.5em;

    }
    .tabmaqui_body:last-child{
        padding-bottom: 1.5rem;

    }

    .tabmaqui_body::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;

    }
}

.mod_clicre{
    width: 75%;
    margin: auto;
}
.mod_cliedi{
    width: 75%;
    margin: auto;
}

.mod_maquicre{
    width: 75%;
    margin: auto;
}
.mod_maquiedi{
    width: 75%;
    margin: auto;
}

.mod_mantencre{
    width: 75%;
    margin: auto;
}
.mod_mantenedi{
    width: 75%;
    margin: auto;
}

.Deletinform_btnmodal{
    background-color: rgba(255, 22, 22, 0.876);
    padding: 1px 1px;
    border-radius: 50%;
    border: none;
}

.tabmante_invis{
    background-color: transparent;

    opacity: 0.5;
    padding: 1px;
}

.tabmante_invis_phone{
    display: none;
}


.Creainform_btnmodal{
    background-color: #447be2d2;
    padding: 1px 1px;
    border-radius: 50%;
    border: none;
}


@media (max-width: 500px) {
    .mod_clicre{
        width: 100%;
        margin: auto;
        
    }

    .mod_cliedi{
        width: 100%;
        margin: auto;
    }

    .mod_maquicre{
        width: 100%;
        margin: auto;
    }

    .mod_maquiedi{
        width: 100%;
        margin: auto;
    }

    .mod_mantencre{
        width: 100%;
        margin: auto;
    }

    .mod_mantenedi{
        width: 100%;
        margin: auto;
    }
}


.txt_edit{
    display: none;

}
