/* Log In */

.backg_image{
    background-image: url(img/electr_log.jpg);
    background-position: center center;
}
.backg_body{
    background: rgba(54, 195, 238, 0.911);
    background: linear-gradient(to right, rgba(54, 195, 238, 0.911), rgba(229, 249, 255, 0.911));
}
.btn_backlog{
    color: black;
    text-decoration: none;
}
.btn_ingreso{
    color: white;
    text-decoration: none;
}

.mant_cont{
    width: 40%;
}

/* Menu General */
.menu_bacgr{
    min-height: 100vh;
    background: url(img/backgr_img.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.nav_superior{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .6rem 10%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}



.nav_superior::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.user_home{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar_general a {
    font-size: 1.15rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check_general{
    display: none;
}

#tip_exmant{
    display: none;
}


.menugen_icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fafafa;
    cursor: pointer;
    display: none;
}

.cerr_sess{
    display: none;
}

#general_session {
    position: absolute;
    right: 3%;
    font-size: 2.5rem;
    color: #fafafa;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
}

.conent_Clicre{
    width: 35%;
}
.conent_Maquicre{
    width: 50%;
}
.conent_Mantchang{
    width: 50%;
}


.cretcli_cont{
    position: fixed;
     bottom: 0;
     width: 50%;
     
   
 }
/* BreakPoints Menu Superior*/


@media (max-width: 995px) {
    .cretcli_cont{
        width: 70%;       
        
    }

    .nav_superior{
        padding: 1.3rem 5%;

    }

    #general_session {
        position: absolute;
        right: 1.5%;
        font-size: 2.5rem;
        color: #fafafa;
        cursor: pointer;
        display: inline-flex;
    }

    .navbar_general a {
    font-size: 1.10rem;
    color: #fafafa;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.0rem;
    margin-right: 2rem;
    }
}




@media (max-width: 880px) {

    .mant_cont{
        width: 70%;
    }

    .cretcli_cont{
        width: 80%;       
        
    }

    .conent_Clicre{
        width: 90%;
    }
    .conent_Maquicre{
        width: 90%;
    }
    .conent_Mantchang{
        width: 90%;
    }

    .menugen_icons{
        display: inline-flex;

    }

    #general_session{
        display: none;
    }

    #check_general:checked~.menugen_icons #general_icon{
        display: none;
    }

    .menugen_icons #general_close{
        display: none;
    }

    #check_general:checked~.menugen_icons #general_close{
        display: block;
    }

    .navbar_general{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .2);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .2);
        overflow: hidden;
        transition: .3s ease;
    }

    #check_general:checked~.navbar_general {
        height: 17.7rem;
    }

    .cerr_sess{
        display: block;
    }

    .navbar_general a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check_general:checked~.navbar_general a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.10s * var(--i));
    }
}

/* Validacion de Vacios*/
.invalid_field{
    border: solid 1px red;
    box-shadow: 0 0 10px red;
}
.falla_field{
    color: red;
    display: block;
}

/* Listados Cliente*/
.client_table{
    width: 100%;
    margin-top: 4%;
    border-collapse: collapse;
    background: #fafafa;
}
.tabcli_capti, .tabcli_head,
.tabcli_body{
    padding: 1rem;
}
.tabcli_capti{
    text-align: center;
    background: rgba(0, 0, 0, .7);
    font-size: 20;
    text-transform: uppercase;
    color: #fafafa;
    backdrop-filter: blur(50px);
}
.tabcli_head{
    background: #2a2a2a;
    color: #fafafa;
}
.tabcli_fila:nth-of-type(2n){
    background: #f2f2f2;
}


/* Listados Maquina*/
.maquina_table{
    width: 100%;
    margin-top: 4%;
    border-collapse: collapse;
    background: #fafafa;
}
.tabmaqui_capti, .tabmaqui_head,
.tabmaqui_body{
    padding: 1rem;
}
.tabmaqui_capti{
    text-align: center;
    background: rgba(0, 0, 0, .7);
    font-size: 20;
    text-transform: uppercase;
    color: #fafafa;
    backdrop-filter: blur(50px);
}
.tabmaqui_head{
    background: #2a2a2a;
    color: #fafafa;
}
.tabmaqui_fila:nth-of-type(2n){
    background: #f2f2f2;
}


@media (max-width: 880px) {
    /* Listados Cliente*/
    .client_table{
        width: 100%;
        margin-top: 10%;
        border-collapse: collapse;
        background: #fafafa;
    }

    .tabcli_head{
        display: none;
    }
    .tabcli_body{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 17ch auto;
        padding: 0.5rem 1rem;

    }
    .tabcli_body:first-child{
        padding-top: 1.5em;

    }
    .tabcli_body:last-child{
        padding-bottom: 1.5rem;

    }

    .tabcli_body::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;

    }

    /* Listados Maquina*/
    .maquina_table{
        width: 100%;
        margin-top: 10%;
        border-collapse: collapse;
        background: #fafafa;
    }

    .tabmaqui_head{
        display: none;
    }
    .tabmaqui_body{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 17ch auto;
        padding: 0.5rem 1rem;

    }
    .tabmaqui_body:first-child{
        padding-top: 1.5em;

    }
    .tabmaqui_body:last-child{
        padding-bottom: 1.5rem;

    }

    .tabmaqui_body::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;

    }
}